<div class="content-mid">
    <h3>Trending Items</h3>
    <label class="line"></label>
    <div class="mid-popular">
        each product in products
            <div class="col-md-3 item-grid">
                <div class=" mid-pop">
                    <div class="pro-img">
                        <a href="/product/#{product._id}"><img src="#{product.img}" class="img-responsive" alt=""></a>
                        <div class="img" style="top: -40px; position: relative;">
                            <a href="/product/#{product._id}"><img src="/images/plus-sign.png" class="cta_plus" alt=""></a>
                        </div>
                    </div>
                    <div class="mid-1">
                        <div class="">
                            <div class="">
                                <h6><a href="/product/#{product._id}" style="display:block; min-height:2.3em;">#{product.name}</a></h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="mid-2">
                            <p><em class="item_price">£#{product.price}</em></p>
                            <div class="block">
                                <div class="starbox small ghosting"> </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>
                </div>
            </div>
        <div class="clearfix"></div>
    </div>
</div>
