extends layout

block content

  .content
    .container

        <div class="container">
            <div class="check-out">
                <div class="bs-example4" data-example-id="simple-responsive-table">
                    <div class="table-responsive">
                        <table class="table-heading simpleCart_shelfItem">
                            <tr>
                                <th class="table-grid">Item</th>
                                <th>Prices</th>
                                <th>Delivery </th>
                            </tr>
                            if basketitems
                                each item in basketitems
                                    <tr class="cart-header">
                                        <td class="ring-in">
                                            <a href="single.html" class="at-in"><img src="#{item.img}" class="img-responsive" alt=""></a>
                                            <div class="sed">
                                                <h5><a href="single.html">#{item.name}</a></h5>
                                            </div>
                                        </td>
                                        <td>£#{item.price}</td>
                                        <td>FREE SHIPPING</td>
                                        <td class="add-check"><a href="/checkout/remove/#{item.id}" class="close1"></a></td>
                                    </tr>
                            else
                                p No items in basket
                        </table>
                    </div>
                </div>
                <div class="produced pull-right">
                    <h2>Total: £#{baskettotal}</h2><br/>
                    <a href="#" class="hvr-skew-backward">Produced To Buy</a>
                </div>
            </div>
        </div>


